.info-card {
    float: left;
	margin: 20px;
	-webkit-perspective: 600px;
	width: 30%;
	display:inline-block;
	height:300px;
	min-width:325px;
}

.front, .back {
	background: #FFF;
	border-radius: 10px;
	transition: -webkit-transform 1s;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

}

.front {
	overflow: hidden;
	position: absolute;
	z-index: 1;

}

.back {
	padding: 20px;
	padding-top: 5px;
	-webkit-transform: rotateY(-180deg);
	max-width: 100%;
/*    max-height: 200px;
*//*   	overflow: scroll;
*/
}

.info-card:hover .back {
	-webkit-transform: rotateY(0deg);
}

.info-card:hover .front {
	-webkit-transform: rotateY(180deg);
}

.card-image {
  overflow: auto;
    max-width: 100%;
    max-height: 90%;
}

#bottom{
	float: bottom;
	bottom:0;
	height:100px;
}
