#header{
	height:100px;
  text-align: center;
}

#grad {
  height:80px;
  background: #7C85FB; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FB5163, #7C85FB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FB5163, #7C85FB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FB5163, #7C85FB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FB5163, #7C85FB); /* Standard syntax */
}

#thin-grad {
  margin-top:50px;
  height:6px;
  background: #7C85FB; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #FB5163, #7C85FB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #FB5163, #7C85FB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #FB5163, #7C85FB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #FB5163, #7C85FB); /* Standard syntax */
}

#header h1{
  font-size: 36px;
  color:#7C85FB;
  margin-left:0px;
  margin-right:0px;
  white-space: nowrap;

}

#header h3{
  font-size: 18px;
  padding: 7px;
}

.typed-center{
  text-align: center;
  margin: 65px;
}

.typed-center a{
  font-size: 80px;
  display: block;
}

.row{
  margin: 10px;
}

.main-title{
  float:left;
  margin-left: 30px;
  color:#eee;
}

.column {
    float: right;
/*    width: 27%;
*/    margin: 1%;
    margin-top:0px; 
    margin-bottom: 5px;
    text-align: center;
    margin-top:15px;
}

.column p{
   vertical-align: middle;
   font-size: 18px;
   color:white;
   transition: ease 1s;
/*   #F5F5F5
*/}

#name-bar{
	position: fixed;
	bottom:0;
	background-color: rgba(255,255,255,1);
	width: 100%;
	padding-left:5px;
  padding-right:5px;
  z-index: 2;
}

body {
  background: #eee;
  font-family: 'Roboto Mono', monospace;

}

h2{
  font-weight: normal;
}

input{
	width:75px;
}
input:hover {
  border: 3px solid #7C85FB;
  outline:none;
}

.hide {
  position: absolute;
  left: -10000px;
}

label {
  display: inline-block;
  background: gray;
  margin: 25px;
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/*PHOTOS START*/

#photos {
/*	  cursor: url("images/happy.png"), auto;
*/
  /* Prevent vertical gaps */
  line-height: 0;
   display: inline-block;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           9px;  

}

#photos input {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin:4px;

}
#photos input:hover {
  cursor: url("images/fordCursor.png"), auto;
}
#photos input:focus {
  border: 3px solid green;
  outline:none;
}

#profile-image{
  position: absolute;
  width:200px;
  height:200px;
  transform: translate(-50%, -50%);
  transition: .5s ease;
}

#profile-container{
  position: absolute; /* or absolute */
    top: 40%;
    left: 50%;
    width:300px;
    height: 300px;
    border-radius: 50%;
}

#background{
  background-color: white;
  opacity: 1;
  position:fixed;
  left: -10000;
  top: 0;
  height:100%;
  width:100%;
  transition: 1s ease;
}

#btn{
  background-color: white;
  border: 2px solid black;
  color: black;
  border-radius: 0;
  padding: 15px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  text-decoration: none;
  text-align: center;
}

#btn-text{
  color:black;
  font-size: 18px;
}


#subtitle{
  color: black;
  padding: 15px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 16px;
  width:70%;
}

a{
  text-decoration: none;
  color: #eee;
}

a:hover{
  text-decoration: underline;
  color:#333333;
}

.card{
  border:solid 2px #7C85FB;
  padding:5px;
  padding-left: 20px;
  margin-top: 30px;
  height:100%;
}

.card-quote{
  font-style: italic;
}

#bottom-bar{
  height:125px;
}

.typed-cursor {
  opacity: 0;
}

.prototypes{
  color:black;
}
.stories{
  color:black;
}
.language{
  color:black;
}

.email-link{
  color:black;
}

.email-link:hover{
  color:#555;
}

iframe{
  display:block;
  margin: 0 auto;
  margin-top:30px;
  float:middle;
  padding: 10px;
}

.center-text{
  text-align: center;
  color:#7C85FB;
}

.with-love{
  font-size: 10px;
  color:#7C85FB;
}

@media only screen and (max-width: 600px) {
  #subtitle { 
    font-size: 14px; 
  }
  .typed-center a{
    font-size: 45px;
  }
  h4{
    font-size: 14px;
  }
  a{
    font-size: 14px;
    white-space: nowrap;

  }
  .main-title{
    margin-top: 0px;
  }
  #grad{
    height:70px;
  }
  .email-link{
    font-size: 12px;
  }
}
