#header{
	height:100px;
  text-align: center;
}

.row{
  margin: 10px;
}

.column {
    float: left;
    width: 27%;
    margin: 3%;
    margin-top:0px; 
    margin-bottom: 5px;
    text-align: center;
}

.column p{
   vertical-align: middle;
   font-size: 18px;
   color:white;
   transition: ease 1s;
/*   #F5F5F5
*/}

#emoji-bar{
	position: fixed;
	bottom:0;
	background-color: rgba(255,255,255,0.8);
	width: 100%;
	padding:10px;
}

.emoji-button{
	border: 3px solid black;
}

body {
  background: #eee;
  font-family: 'Roboto Mono', monospace;

}

h2{
  font-weight: normal;
}

input{
	width:75px;
}
input:hover {
  border: 3px solid #F32F96;
  outline:none;
}

.hide {
  position: absolute;
  left: -10000px;
}

label {
  display: inline-block;
  background: gray;
  margin: 25px;
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 1em;
  color: #fff;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

/*PHOTOS START*/

#photos {
/*	  cursor: url("images/happy.png"), auto;
*/
  /* Prevent vertical gaps */
  line-height: 0;
   display: inline-block;
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           9px;  

}

#photos input {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin:4px;

}
#photos input:hover {
  cursor: url("images/fordCursor.png"), auto;
}
#photos input:focus {
  border: 3px solid green;
  outline:none;
}

#profile-image{
  position: absolute;
  width:200px;
  height:200px;
  transform: translate(-50%, -50%);
  transition: .5s ease;


}

#profile-container{
  position: absolute; /* or absolute */
    top: 50%;
    left: 50%;
    width:300px;
    height: 300px;
    border-radius: 50%;
}

#background{
  background-color: white;
  opacity: 1;
  position:fixed;
  left: -10000;
  top: 0;
  height:100%;
  width:100%;
  transition: 1s ease;
}

#btn{
  background-color: white;
  border: 2px solid white;
  color: black;
  border-radius: 0;
  padding: 15px;
  width:10%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
  text-decoration: none;
  text-align: center;

}

#btn-text{
  color:white;
  font-size: 18px;
}

.btn:hover{
  background-color: white;
  dborder: 2px solid black;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

.card{
  border:solid 2px black;
  padding:5px;
  padding-left: 20px;
  margin-top: 30px;
}
